In [52]:
import pandas as pd
data = pd.read_csv("ride_data.csv")
data

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,27
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,27
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,29
...,...,...,...,...,...,...,...,...,...,...,...,...
25755,25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,Male,1/24/2020,6015,8
25756,25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,7/19/2020,13437,25
25757,25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,11/6/2017,21163,38
25758,25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,Male,2/23/2017,2598,25
25759,25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,3,Male,5/25/2017,12320,20

In [53]:
print(data)

       Unnamed: 0         dur  staA_id  \
0               0  12 minutes       81
1               1  24 minutes        3
2               2   8 minutes       67
3               3   4 minutes       16
4               4  11 minutes       22
...           ...         ...      ...
25755       25755  11 minutes       15
25756       25756  10 minutes       15
25757       25757  14 minutes       15
25758       25758  14 minutes       15
25759       25759  29 minutes       16

                                               staA_name  staB_id  \
0                                     Berry St at 4th St      323
1           Powell St BART Station (Market St at 4th St)      118
2      San Francisco Caltrain Station 2  (Townsend St...       23
3                                Steuart St at Market St       28
4                                  Howard St at Beale St      350
...                                                  ...      ...
25755  San Francisco Ferry Building (Harry Bridges Pl...       34
25756  San Francisco Ferry Building (Harry Bridges Pl...       34
25757  San Francisco Ferry Building (Harry Bridges Pl...       42
25758  San Francisco Ferry Building (Harry Bridges Pl...       42
25759                            Steuart St at Market St      115

                                           staB_name  veh_id  passen_type  \
0                                 Broadway at Kearny    5480            2
1                    Eureka Valley Recreation Center    5193            2
2                      The Embarcadero at Steuart St    3652            3
3                       The Embarcadero at Bryant St    1883            1
4                               8th St at Brannan St    4626            2
...                                              ...     ...          ...
25755                 Father Alfred E Boeddeker Park    5063            1
25756                 Father Alfred E Boeddeker Park    5411            2
25757  San Francisco City Hall (Polk St at Grove St)    5157            2
25758  San Francisco City Hall (Polk St at Grove St)    4438            2
25759                             Jackson Playground    1705            3

      passen_gender travel_date  travel_id  veh_count
0              Male   4/21/2017      16941         19
1              Male   2/13/2020       7334         16
2              Male   6/25/2020      24934         27
3              Male   10/8/2021      25532         27
4              Male  12/14/2019       7385         29
...             ...         ...        ...        ...
25755          Male   1/24/2020       6015          8
25756          Male   7/19/2020      13437         25
25757          Male   11/6/2017      21163         38
25758          Male   2/23/2017       2598         25
25759          Male   5/25/2017      12320         20

[25760 rows x 12 columns]

In [54]:
data['passen_type'] = data['passen_type'].astype('category')

In [55]:
assert data['passen_type'].dtype == 'category'

In [56]:
data['passen_type'].describe()

count     25760
unique        3
top           2
freq      12972
Name: passen_type, dtype: int64

In [57]:
data['dur'] = data['dur'].str.strip('minutes')

In [58]:
data.head()

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,27
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,27
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,29

In [59]:
data['dur'].describe()

count     25760
unique      172
top          7
freq       2322
Name: dur, dtype: object

In [60]:
data['dur'] = data['dur'].astype('int')
assert data['dur'].dtype == 'int'

In [61]:
data['dur'].describe()

count    25760.000000
mean        11.389053
std         23.500516
min          1.000000
25%          6.000000
50%          9.000000
75%         13.000000
max       1372.000000
Name: dur, dtype: float64

In [62]:
# new count

In [63]:
a = data['veh_count']
a

0        19
1        16
2        27
3        27
4        29
         ..
25755     8
25756    25
25757    38
25758    25
25759    20
Name: veh_count, Length: 25760, dtype: int64

In [64]:
b=a > 25
b

0        False
1        False
2         True
3         True
4         True
         ...
25755    False
25756    False
25757     True
25758    False
25759    False
Name: veh_count, Length: 25760, dtype: bool

In [65]:
a[a>25]

2        27
3        27
4        29
7        32
8        29
         ..
25744    39
25749    32
25751    35
25754    31
25757    38
Name: veh_count, Length: 9193, dtype: int64

In [66]:
a[a>25].size

9193

In [67]:
25760 - 9193

16567

In [68]:
data['veh_count'][data['veh_count'] > 25].size

9193

In [69]:
c= a[b]
c

2        27
3        27
4        29
7        32
8        29
         ..
25744    39
25749    32
25751    35
25754    31
25757    38
Name: veh_count, Length: 9193, dtype: int64

In [70]:
data.loc[data['veh_count'] > 25, 'veh_count'] = 25

In [71]:
data.head()

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,25
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,25
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,25

In [72]:
z = data['veh_count'] > 25
a[z]

Series([], Name: veh_count, dtype: int64)

In [73]:
data.loc[data['veh_count'] > 25, 'veh_count'] = 25

In [74]:
data['veh_count'][data['veh_count']> 25].size

0

In [75]:
data

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,25
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,25
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,25
...,...,...,...,...,...,...,...,...,...,...,...,...
25755,25755,11,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,Male,1/24/2020,6015,8
25756,25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,7/19/2020,13437,25
25757,25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,11/6/2017,21163,25
25758,25758,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,Male,2/23/2017,2598,25
25759,25759,29,16,Steuart St at Market St,115,Jackson Playground,1705,3,Male,5/25/2017,12320,20

In [82]:
import datetime as dt
today = dt.date.today()
today

datetime.date(2020, 12, 10)

In [83]:
data['travel_date'] = pd.to_datetime(data['travel_date'])

In [84]:
data['travel_date'].max()

Timestamp('2021-12-28 00:00:00')

In [85]:
data.loc[data['travel_date']>today, 'travel_date'] = today

TypeError: Invalid comparison between dtype=datetime64[ns] and date

In [88]:
data['travel_data'].max()

KeyError: 'travel_data'

In [87]:
data.head()

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,2017-04-21,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2020-02-13,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,2020-06-25,24934,25
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,2021-10-08,25532,25
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,2019-12-14,7385,25