In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('homelessness.csv')

In [3]:
df

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
6,6,New England,Connecticut,2280.0,1696.0,3571520
7,7,South Atlantic,Delaware,708.0,374.0,965479
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
12,12,Mountain,Idaho,1297.0,715.0,1750536
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
15,15,West North Central,Iowa,1711.0,1038.0,3148618
16,16,West North Central,Kansas,1443.0,773.0,2911359
17,17,East South Central,Kentucky,2735.0,953.0,4461153
18,18,West South Central,Louisiana,2540.0,519.0,4659690
19,19,New England,Maine,1450.0,1066.0,1339057
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,21,New England,Massachusetts,6811.0,13257.0,6882635
22,22,East North Central,Michigan,5209.0,3142.0,9984072
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
24,24,East South Central,Mississippi,1024.0,328.0,2981020
25,25,West North Central,Missouri,3776.0,2107.0,6121623
26,26,Mountain,Montana,983.0,422.0,1060665
27,27,West North Central,Nebraska,1745.0,676.0,1925614
28,28,Mountain,Nevada,7058.0,486.0,3027341
29,29,New England,New Hampshire,835.0,615.0,1353465
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,31,Mountain,New Mexico,1949.0,602.0,2092741
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,34,West North Central,North Dakota,467.0,75.0,758080
35,35,East North Central,Ohio,6929.0,3320.0,11676341
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,39,New England,Rhode Island,747.0,354.0,1058287
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,41,West North Central,South Dakota,836.0,323.0,878698
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
43,43,West South Central,Texas,19199.0,6111.0,28628666
44,44,Mountain,Utah,1904.0,972.0,3153550
45,45,New England,Vermont,780.0,511.0,624358
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

In [4]:
# Print the head of the homelessness data
print(df.head())

   Unnamed: 0              region       state  individuals  family_members  \
0           0  East South Central     Alabama       2570.0           864.0
1           1             Pacific      Alaska       1434.0           582.0
2           2            Mountain     Arizona       7259.0          2606.0
3           3  West South Central    Arkansas       2280.0           432.0
4           4             Pacific  California     109008.0         20964.0

   state_pop
0    4887681
1     735139
2    7158024
3    3009733
4   39461588

In [6]:
# Print information about homelessness
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB
None

In [7]:
print(df.iloc())

<pandas.core.indexing._iLocIndexer object at 0x000002D479E4C9A0>

In [8]:
df.iloc()

In [11]:
# Print the shape of homlessness
print(df.shape)

(51, 6)

In [12]:

# Print a description of homelessness
# Quartile 25%

print(df.describe())

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

In [14]:
# Print the values of homelessness
print(df.values)

[[0 'East South Central' 'Alabama' 2570.0 864.0 4887681]
 [1 'Pacific' 'Alaska' 1434.0 582.0 735139]
 [2 'Mountain' 'Arizona' 7259.0 2606.0 7158024]
 [3 'West South Central' 'Arkansas' 2280.0 432.0 3009733]
 [4 'Pacific' 'California' 109008.0 20964.0 39461588]
 [5 'Mountain' 'Colorado' 7607.0 3250.0 5691287]
 [6 'New England' 'Connecticut' 2280.0 1696.0 3571520]
 [7 'South Atlantic' 'Delaware' 708.0 374.0 965479]
 [8 'South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 [9 'South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 [10 'South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 [11 'Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 [12 'Mountain' 'Idaho' 1297.0 715.0 1750536]
 [13 'East North Central' 'Illinois' 6752.0 3891.0 12723071]
 [14 'East North Central' 'Indiana' 3776.0 1482.0 6695497]
 [15 'West North Central' 'Iowa' 1711.0 1038.0 3148618]
 [16 'West North Central' 'Kansas' 1443.0 773.0 2911359]
 [17 'East South Central' 'Kentucky' 2735.0 953.0 4461153]
 [18 'West South Central' 'Louisiana' 2540.0 519.0 4659690]
 [19 'New England' 'Maine' 1450.0 1066.0 1339057]
 [20 'South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 [21 'New England' 'Massachusetts' 6811.0 13257.0 6882635]
 [22 'East North Central' 'Michigan' 5209.0 3142.0 9984072]
 [23 'West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 [24 'East South Central' 'Mississippi' 1024.0 328.0 2981020]
 [25 'West North Central' 'Missouri' 3776.0 2107.0 6121623]
 [26 'Mountain' 'Montana' 983.0 422.0 1060665]
 [27 'West North Central' 'Nebraska' 1745.0 676.0 1925614]
 [28 'Mountain' 'Nevada' 7058.0 486.0 3027341]
 [29 'New England' 'New Hampshire' 835.0 615.0 1353465]
 [30 'Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 [31 'Mountain' 'New Mexico' 1949.0 602.0 2092741]
 [32 'Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 [33 'South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 [34 'West North Central' 'North Dakota' 467.0 75.0 758080]
 [35 'East North Central' 'Ohio' 6929.0 3320.0 11676341]
 [36 'West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 [37 'Pacific' 'Oregon' 11139.0 3337.0 4181886]
 [38 'Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 [39 'New England' 'Rhode Island' 747.0 354.0 1058287]
 [40 'South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 [41 'West North Central' 'South Dakota' 836.0 323.0 878698]
 [42 'East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 [43 'West South Central' 'Texas' 19199.0 6111.0 28628666]
 [44 'Mountain' 'Utah' 1904.0 972.0 3153550]
 [45 'New England' 'Vermont' 780.0 511.0 624358]
 [46 'South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 [47 'Pacific' 'Washington' 16424.0 5880.0 7523869]
 [48 'South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 [49 'East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 [50 'Mountain' 'Wyoming' 434.0 205.0 577601]]

In [15]:
print(df)

    Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop
0            864.0    4887681
1            582.0     735139
2           2606.0    7158024
3            432.0    3009733
4          20964.0   39461588
5           3250.0    5691287
6           1696.0    3571520
7            374.0     965479
8           3134.0     701547
9           9587.0   21244317
10          2556.0   10511131
11          2399.0    1420593
12           715.0    1750536
13          3891.0   12723071
14          1482.0    6695497
15          1038.0    3148618
16           773.0    2911359
17           953.0    4461153
18           519.0    4659690
19          1066.0    1339057
20          2230.0    6035802
21         13257.0    6882635
22          3142.0    9984072
23          3250.0    5606249
24           328.0    2981020
25          2107.0    6121623
26           422.0    1060665
27           676.0    1925614
28           486.0    3027341
29           615.0    1353465
30          3350.0    8886025
31           602.0    2092741
32         52070.0   19530351
33          2817.0   10381615
34            75.0     758080
35          3320.0   11676341
36          1048.0    3940235
37          3337.0    4181886
38          5349.0   12800922
39           354.0    1058287
40           851.0    5084156
41           323.0     878698
42          1744.0    6771631
43          6111.0   28628666
44           972.0    3153550
45           511.0     624358
46          2047.0    8501286
47          5880.0    7523869
48           222.0    1804291
49          2167.0    5807406
50           205.0     577601

In [16]:
# Print the column index of homelessness
print(df.columns)

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [18]:
# Print the Row index of homelessness
print(df.index)

RangeIndex(start=0, stop=51, step=1)

In [19]:
# Sort homelessness by individual
df_ind = df.sort_values('individuals')

# Print the top few rows
print(df_ind.head())

    Unnamed: 0              region         state  individuals  family_members  \
50          50            Mountain       Wyoming        434.0           205.0
34          34  West North Central  North Dakota        467.0            75.0
7            7      South Atlantic      Delaware        708.0           374.0
39          39         New England  Rhode Island        747.0           354.0
45          45         New England       Vermont        780.0           511.0

    state_pop
50     577601
34     758080
7      965479
39    1058287
45     624358

In [21]:
# Sort homelessness by individual
df_ind = df.sort_values('individuals')

# Print the top few rows
print(df_ind.head())

    Unnamed: 0              region         state  individuals  family_members  \
50          50            Mountain       Wyoming        434.0           205.0
34          34  West North Central  North Dakota        467.0            75.0
7            7      South Atlantic      Delaware        708.0           374.0
39          39         New England  Rhode Island        747.0           354.0
45          45         New England       Vermont        780.0           511.0

    state_pop
50     577601
34     758080
7      965479
39    1058287
45     624358

In [23]:
# Sort homelessness by descending family members
df_reg_fam = df.sort_values('family_members', ascending = False)

# Print the top few rows
print(df_reg_fam.head())

    Unnamed: 0              region          state  individuals  \
32          32        Mid-Atlantic       New York      39827.0
4            4             Pacific     California     109008.0
21          21         New England  Massachusetts       6811.0
9            9      South Atlantic        Florida      21443.0
43          43  West South Central          Texas      19199.0

    family_members  state_pop
32         52070.0   19530351
4          20964.0   39461588
21         13257.0    6882635
9           9587.0   21244317
43          6111.0   28628666

In [24]:
# Sort homelessness by region, then descending family members

In [26]:
# Select the individuals column
individuals = df[['individuals']]

# Print the head of the result
print(individuals.head())

   individuals
0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0

In [27]:
# Select the state amd family_members columns 


# Print the head of the result
print(individuals.head())

   individuals
0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0

In [29]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = df[df['individuals'] > 100000]

# See the result
print(ind_gt_10k)

   Unnamed: 0   region       state  individuals  family_members  state_pop
4           4  Pacific  California     109008.0         20964.0   39461588

In [30]:
mountain_reg = df[df['region'] == 'Mountain']

print(mountain_reg)

    Unnamed: 0    region       state  individuals  family_members  state_pop
2            2  Mountain     Arizona       7259.0          2606.0    7158024
5            5  Mountain    Colorado       7607.0          3250.0    5691287
12          12  Mountain       Idaho       1297.0           715.0    1750536
26          26  Mountain     Montana        983.0           422.0    1060665
28          28  Mountain      Nevada       7058.0           486.0    3027341
31          31  Mountain  New Mexico       1949.0           602.0    2092741
44          44  Mountain        Utah       1904.0           972.0    3153550
50          50  Mountain     Wyoming        434.0           205.0     577601

In [ ]:
fam_lt_1k_pac = df[(df['family_members']<1000) & ]