In [105]:
import pandas as pd 
data = pd.read_csv('ride_data.csv')
data

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,27
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,27
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,29
...,...,...,...,...,...,...,...,...,...,...,...,...
25755,25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,Male,1/24/2020,6015,8
25756,25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,7/19/2020,13437,25
25757,25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,11/6/2017,21163,38
25758,25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,Male,2/23/2017,2598,25
25759,25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,3,Male,5/25/2017,12320,20

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 12 columns):
Unnamed: 0       25760 non-null int64
dur              25760 non-null object
staA_id          25760 non-null int64
staA_name        25760 non-null object
staB_id          25760 non-null int64
staB_name        25760 non-null object
veh_id           25760 non-null int64
passen_type      25760 non-null int64
passen_gender    25760 non-null object
travel_date      25760 non-null object
travel_id        25760 non-null int64
veh_count        25760 non-null int64
dtypes: int64(7), object(5)
memory usage: 2.4+ MB

In [107]:
data['passen_type'].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: passen_type, dtype: float64

In [108]:
data['passen_type'] = data['passen_type'].astype('category')
assert data['passen_type'].dtype == 'category'

In [109]:
data['passen_type'].describe()

count     25760
unique        3
top           2
freq      12972
Name: passen_type, dtype: int64

In [110]:
data['dur'] = data['dur'].str.strip('minutes')
data

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,4/21/2017,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2/13/2020,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,6/25/2020,24934,27
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,10/8/2021,25532,27
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,12/14/2019,7385,29
...,...,...,...,...,...,...,...,...,...,...,...,...
25755,25755,11,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,Male,1/24/2020,6015,8
25756,25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,7/19/2020,13437,25
25757,25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,11/6/2017,21163,38
25758,25758,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,Male,2/23/2017,2598,25
25759,25759,29,16,Steuart St at Market St,115,Jackson Playground,1705,3,Male,5/25/2017,12320,20

In [111]:
data['dur'].describe()

count     25760
unique      172
top          7
freq       2322
Name: dur, dtype: object

In [112]:
data['dur'] = data['dur'].astype('int')
assert data['dur'].dtype == 'int'

In [113]:
data['dur'].describe()

count    25760.000000
mean        11.389053
std         23.500516
min          1.000000
25%          6.000000
50%          9.000000
75%         13.000000
max       1372.000000
Name: dur, dtype: float64

In [115]:
data['veh_count'][data['veh_count'] > 25].size 
# checking how many values are greater than 25 in column 'veh_count'

9193

In [116]:
data.loc[data['veh_count'] > 25 , 'veh_count'] = 25
# setting value equal to 25 where values are greater than 25 in column 'veh_count'

In [117]:
data['veh_count'][data['veh_count'] > 25].size
# again checking how many values are greater than 25 in column 'veh_count'

0

In [118]:
import datetime as dt
today = dt.date.today()
today

datetime.date(2020, 12, 13)

In [119]:
data['travel_date'] = pd.to_datetime(data['travel_date'])

In [120]:
data['travel_date'].max()

Timestamp('2021-12-28 00:00:00')

In [121]:
data.loc[data['travel_date'] > today, 'travel_date'] = today
# setting future dates to today's date in col 'travel_date'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

In [122]:
data['travel_date'].max()

Timestamp('2020-12-13 00:00:00')

In [123]:
duplicates = data.duplicated(subset='travel_id', keep=False) # tells duplicate values in column 'travel_id'
duplicates # output is boolean (i.e. True or False)

0        False
1        False
2         True
3         True
4        False
         ...
25755     True
25756    False
25757    False
25758     True
25759     True
Length: 25760, dtype: bool

In [124]:
data['travel_id'][duplicates] # tells values which are duplicated in column 'travel_id'

2        24934
3        25532
5        12525
6         6673
9         9218
         ...
25753    19174
25754     3437
25755     6015
25758     2598
25759    12320
Name: travel_id, Length: 16394, dtype: int64

In [125]:
data['travel_id'][duplicates].size # tells counts of duplicated values in column 'travel_id'

16394

In [126]:
data['travel_id'][duplicates].sort_values()  # tells values which are duplicated (sorted) in column 'travel_id'

9532         0
20880        0
8089         2
4657         2
18997        2
         ...
20844    25755
10179    25755
6717     25755
2105     25758
15498    25758
Name: travel_id, Length: 16394, dtype: int64

In [127]:
duplicated_rides = data[duplicates].sort_values('travel_id')
duplicated_rides # duplicated rows w.r.t column 'travel_id'

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
9532,9532,9,81,Berry St at 4th St,355,23rd St at Tennessee St,5230,2,Male,2018-05-04,0,25
20880,20880,9,67,San Francisco Caltrain Station 2 (Townsend St...,21,Montgomery St BART Station (Market St at 2nd St),5332,2,Male,2018-10-28,0,25
8089,8089,13,16,Steuart St at Market St,93,4th St at Mission Bay Blvd S,2784,1,Female,2018-06-21,2,3
4657,4657,21,15,San Francisco Ferry Building (Harry Bridges Pl...,101,15th St at Potrero Ave,5470,2,Other,2019-03-08,2,13
18997,18997,1,21,Montgomery St BART Station (Market St at 2nd St),363,Salesforce Transit Center (Natoma St at 2nd St),5358,2,Male,2018-03-21,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...
20844,20844,26,81,Berry St at 4th St,81,Berry St at 4th St,5200,3,Male,2019-03-22,25755,14
10179,10179,3,21,Montgomery St BART Station (Market St at 2nd St),15,San Francisco Ferry Building (Harry Bridges Pl...,5408,1,Other,2020-12-13,25755,12
6717,6717,7,3,Powell St BART Station (Market St at 4th St),58,Market St at 10th St,5557,3,Male,2017-12-07,25755,3
2105,2105,20,30,San Francisco Caltrain (Townsend St at 4th St),16,Steuart St at Market St,3364,2,Male,2020-04-15,25758,8
15498,15498,22,3,Powell St BART Station (Market St at 4th St),137,Jersey St at Castro St,4719,1,Male,2020-12-13,25758,7

In [128]:
data['travel_id'][duplicates].sort_values().unique() 
# tells distinct values which are duplicated in column 'travel_id'

array([    0,     2,     5, ..., 25753, 25755, 25758], dtype=int64)

In [129]:
data['travel_id'][duplicates].sort_values().unique().size
# tells counts of distinct values which are duplicated in column 'travel_id'

6869

In [130]:
data.shape # original data size before dropping duplicates rows

(25760, 12)

In [ ]:
# no. of original values = 25760

# no. of duplicated values = 16394 (in each: one unique and others are duplicates)

# no. of unique values in duplicated values = 6869 

# so finally total no. of distinct/unique values should be : 

# original(25760) - duplicates(16394) + unique_in_dupliates(6869)
# 25760 - 16394 + 6869
# 16235

In [135]:
data = data.drop_duplicates('travel_id') # dropping duplicate rows w.r.t column 'travel_id'  
data

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,2017-04-21,16941,19
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2020-02-13,7334,16
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,2020-06-25,24934,25
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,2020-12-13,25532,25
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,2019-12-14,7385,25
...,...,...,...,...,...,...,...,...,...,...,...,...
25748,25748,31,21,Montgomery St BART Station (Market St at 2nd St),44,Civic Center/UN Plaza BART Station (Market St ...,4838,3,Male,2019-05-02,14390,4
25750,25750,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4372,2,Male,2019-10-11,14453,4
25752,25752,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4962,2,Male,2020-12-13,9988,8
25756,25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,2020-07-19,13437,25
25757,25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,2017-11-06,21163,25

In [136]:
data.shape # data size after dropping duplicates rows w.r.t column 'travel_id'

(16235, 12)

In [ ]:
# 6.4 : 11-dec-2020

In [138]:
import numpy as np
ranges = [0, 15, 30, np.inf]
tags = ['short', 'medium', 'long']
data['veh_count_categ'] = pd.cut(data['veh_count'] , bins = ranges, labels = tags) 
data
# values within range: 0 to 15 : assigns with tag name: 'short'
# values within range: 16 to 30 : assigns with tag name: 'medium'
# values from range: 31 and onwards : assigns with tag name: 'long'

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count,veh_count_categ
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,2017-04-21,16941,19,medium
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2020-02-13,7334,16,medium
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,2020-06-25,24934,25,medium
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,2020-12-13,25532,25,medium
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,2019-12-14,7385,25,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25748,25748,31,21,Montgomery St BART Station (Market St at 2nd St),44,Civic Center/UN Plaza BART Station (Market St ...,4838,3,Male,2019-05-02,14390,4,short
25750,25750,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4372,2,Male,2019-10-11,14453,4,short
25752,25752,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4962,2,Male,2020-12-13,9988,8,short
25756,25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,2020-07-19,13437,25,medium
25757,25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,2017-11-06,21163,25,medium

In [140]:
mappings = {'Male':'Men', 'Female':'Women'}
data['passen_boy_girl'] = data['passen_gender'].replace(mappings) 
data
# assigns 'Men' where value is 'Male'
# assigns 'Women' where value is 'Female'

,Unnamed: 0,dur,staA_id,staA_name,staB_id,staB_name,veh_id,passen_type,passen_gender,travel_date,travel_id,veh_count,veh_count_categ,passen_boy_girl
0,0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,Male,2017-04-21,16941,19,medium,Men
1,1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,Male,2020-02-13,7334,16,medium,Men
2,2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,Male,2020-06-25,24934,25,medium,Men
3,3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,Male,2020-12-13,25532,25,medium,Men
4,4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,Male,2019-12-14,7385,25,medium,Men
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25748,25748,31,21,Montgomery St BART Station (Market St at 2nd St),44,Civic Center/UN Plaza BART Station (Market St ...,4838,3,Male,2019-05-02,14390,4,short,Men
25750,25750,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4372,2,Male,2019-10-11,14453,4,short,Men
25752,25752,15,16,Steuart St at Market St,371,Lombard St at Columbus Ave,4962,2,Male,2020-12-13,9988,8,short,Men
25756,25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,Male,2020-07-19,13437,25,medium,Men
25757,25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,Male,2017-11-06,21163,25,medium,Men